.root{
    -fx-background-color: #A7C8F2;

}
#lblLogin{
    -fx-font: 50px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, mediumblue 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
#menuBar{
    -fx-font: 20px Tahoma;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, mediumblue 50%)
}
#lblWelcome{
    -fx-text-fill: white;
    -fx-font-size: 60px;
}